<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.bootcdn.net/ajax/libs/highlight.js/11.2.0/styles/base16/dracula.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.bootcdn.net/ajax/libs/firacode/5.2.0/fira_code.min.css"
      rel="stylesheet"
    />

    <title>title</title>
    <style>
      body {
        width: 680px;
        margin: 40px auto;
      }

      img {
        max-width: 100%;
      }

      pre > code {
        border-radius: 10px;
        font-family: "Fira Code", "Sans Mono", "Consolas", "Courier", monospace;
      }
    </style>
  </head>

  <body></body>
</html>
